<header>
  <nav class="navigation">
    <ul class="navigation__links" role="list">
      <li routerLinkActive="active" *ngIf="!isAuthenticated">
        <a routerLink="/auth">Login</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
      </li>
    </ul>
    <ul class="navigation__links" role="list">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active"><a>About Us</a></li>
      <li routerLinkActive="active"><a>Gallery</a></li>
      <li routerLinkActive="active"><a>Products </a></li>
      <li routerLinkActive="active"><a>Contact Us</a></li>
    </ul>
  </nav>
</header>
