.error {
  margin-top: 4rem;
  text-align: center;
}

.error p {
  color: red;
  padding-bottom: 5px;
}

.product {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.product h1 {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
}

.product_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
}

.active-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

.images-container {
  display: flex;
  gap: 5px;
}

.images {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.active {
  border: 2px solid black;
}

.information > * {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.ingredients * {
  margin-right: 5px;
}

.information_sizes {
  color: rgb(205, 125, 141);
  background-color: transparent;
  border: 2px solid rgb(205, 125, 141);
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
}

.active-size {
  border-color: black;
}

a {
  padding: 6px;
  text-decoration: none;
}

.information_sizes:hover {
  border-color: black;
}

.comment {
  margin-bottom: 1rem;
}

.comment__form-ratio div {
  display: inline-block;
}
