html {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: rgb(238, 238, 238);
  color: rgb(51, 51, 51);
  padding: 30px;
  display: inline-block;
  vertical-align: top;
}

article {
  width: 65%;
  display: inline-block;
}

aside {
  width: 25%;
  display: inline-block;

  position: relative;
  top: -149vh;
}

img {
  width: 60%;
  height: auto;
}
