<section class="container">
  <div class="allergen-free">
    <ul role="list">
      <li>
        <img
          src="../../../assets/img/allergen/icons8-no-soy-50.png"
          title="SOY FREE"
          alt="SOY FREE"
        />
      </li>
      <li>
        <img
          src="../../../assets/img/allergen/icons8-vegan-50.png"
          title="VEGAN"
          alt="VEGAN"
        />
      </li>
      <li>
        <img
          src="../../../assets/img/allergen/icons8-sugar-free-50.png"
          title="SUGAR FREE"
          alt="SUGAR FREE"
        />
      </li>
      <li>
        <img
          src="../../../assets/img/allergen/icons8-no-gluten-50.png"
          title="GLUTEN FREE"
          alt="GLUTEN FREE"
        />
      </li>
      <li>
        <img
          src="../../../assets/img/allergen/icons8-dairy-50.png"
          title="DAIRY FREE"
          alt="DAIRY FREE"
        />
      </li>
      <li>
        <img
          src="../../../assets/img/allergen/icons8-diabetic-food-50.png"
          title="DIABETIC FRIENDLY"
          alt="DIABETIC FRIENDLY"
        />
      </li>
    </ul>
  </div>
</section>
